<%= form_with(model: profile, local: true) do |form| %>
  <p>画像のURL</p>
  <p><%= form.text_field :image, placeholder: "Image Url" %></p>
  <p>ポジション</p>
  <p><%= form.collection_select(:position_id, Position.all, :id, :name, {} ) %></p>
  <p>投/打</p>
  <p><%= form.collection_select(:dexterity_id, Dexterity.all, :id, :name, {} ) %></p>
  <p>チーム名 (所属していない方は「無所属」と記名)</p>
  <p><%= form.text_field :team %></p>
  <p>年齢 (半角数字)</p>
  <p><%= form.text_field :age %></p>
  <p class="actions"><%= form.submit "SEND" %></p>
<% end %>