<div class="contents row">
  トップページ
  <%= link_to "投稿する", new_profile_path, class: "post" %>
  <% @profiles.each do |profile| %>
    <ul class="more_list">
      <li>
        <%= link_to '詳細', profile_path(profile.id), method: :get %>
      </li>
      <li>
        <%= link_to '編集', edit_profile_path(profile.id), method: :get %>
      </li>
      <li>
        <%= link_to '削除', profile_path(profile.id), method: :delete %>
      </li>
    </ul>
    <p><%= profile.image %></p>
    <p><%= profile.position %></p>
    <p><%= profile.dexterity %></p>
    <p><%= profile.team %></p>
    <p><%= profile.age %></p>
  <% end %>
</div>