詳細
<div class="contents row">
    <div class="more">
      <ul class="more_list">
      <% if user_signed_in? && current_user.id == @profile.user_id %>
      <li>
        <%= link_to '編集', edit_profile_path(@profile.id), method: :get %>
      </li>
      <li>
        <%= link_to '削除', profile_path(@profile.id), method: :delete %>
      </li>
      <% end %>
    </ul>
    <%= image_tag @profile.image %>
    <a href="/users/<%= @profile.user.id %>">
      <%= @profile.user.name %>
    </a>
    <p><%= @profile.position.name %></p>
    <p><%= @profile.dexterity.name %></p>
    <p><%= @profile.team %></p>
    <p><%= @profile.age %>歳</p>
    </div>

    <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@profile, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.name, "/profiles/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
</div>