<div class="contents">
  <div class="title2">マイページ</div>
  <div class="main_contents2">
    <div class="profile_title2">プロフィール</div>
    <div class="more">
      <% if user_signed_in? && current_user.id == @profile.user_id %>
      <p class="my_page_one_button">
        <%= link_to '編集', edit_profile_path(@profile.id), method: :get %>
      </p>
      <p class="my_page_one_button">
        <%= link_to '削除', profile_path(@profile.id), method: :delete %>
      </p>
      <% end %>
    </div>
    <%= image_tag @profile.image, class: 'my_page_image' %>
    <a class="my_page_element", href="/users/<%= @profile.user.id %>">
      <%= @profile.user.name %>
    </a>
    <p class="my_page_element"><%= @profile.position.name %></p>
    <p class="my_page_element"><%= @profile.dexterity.name %></p>
    <p class="my_page_element"><%= @profile.team %></p>
    <p class="my_page_element2"><%= @profile.age %>歳</p>

    
    <% if user_signed_in? %>
      <%= form_with(model: [@profile, @comment], local: true) do |form| %>
        <p class="my_page_element3"><%= form.text_area :text, placeholder: "コメントする", rows: "2" %></p>
        <p class="my_page_element3"><%= form.submit "SEND" %></p>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>


    <h1 class="my_page_element3">＜コメント一覧＞</h1>
    <% @comments.each do |comment| %>
      <p class="my_page_element4">
        <strong><%= link_to comment.user.name, "/profiles/#{comment.user_id}" %>：</strong>
        <%= comment.text %>
      </p>
    <% end %>

  </div>
</div>