編集
<div class="contents row">
    <div class="more">
      <ul class="more_list">
      <li>
        <%= link_to '編集', edit_profile_path(profile.id), method: :get %>
      </li>
      <li>
        <%= link_to '削除', profile_path(profile.id), method: :delete %>
      </li>
    </ul>
    <p><%= @profile.image %></p>
    <p><%= @profile.position.name %></p>
    <p><%= @profile.dexterity.name %></p>
    <p><%= @profile.team %></p>
    <p><%= @profile.age %></p>
    </div>
</div>