<div class="contents">
  <div class="title2"><%= @name %>さんのプロフィール一覧</div>

    <% @profiles.each do |profile| %>
      <div class="main_contents3">
        <%= image_tag profile.image, class: 'my_page_image2' %>
        <p class="my_page_element"><%= profile.position.name %></p>
        <p class="my_page_element"><%= profile.dexterity.name %></p>
        <p class="my_page_element"><%= profile.team %></p>
        <p class="my_page_element2"><%= profile.age %>歳</p>
      </div>
    <% end %>

  <div class="footer">
    BaseballCommunity
  </div>

</div>